/*html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;


}

.left {
	width: 33%;
	height: 100%;
	background-color: #4a90e2;
	display: inline-block;
	margin: auto;
}

.center {
	width: 33%;
	height: 100%;
	background-color: #50e3c2;
	display: inline-block;
	margin: auto;
}

.right {
	width: 33%;
	height: 100%;
	background-color: #b8e986;
	display: inline-block;
	position: relative;
	margin: auto;
	
}

.imgPlaceholder {
	width: 33%;
	height: 15%;
	background-color: red;
	position: absolute;
	right: 2px;
	bottom: 0px;
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	padding-top: 10%;
}






